# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Tell-Me-A-Story.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Nekozilla\Desktop\Tell-Me-A-Story\.idea\.idea.Tell-Me-A-Story\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
