# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Tell Me a Story.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Nekozilla\Tell Me a Story\.idea\.idea.Tell Me a Story\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
